.calc {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* border: 5px solid seagreen; */
    color: #ECEFF1;
    background: #263238;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    /* Fluid Typo :
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

    credit Mike Riethmuller
    */
    font-size: calc(24px + (72 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.screen {
    height: 20vh;
    /* border: 5px solid goldenrod; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5em;
    border: 1px solid #ECEFF155;
}

.screen > span {
    /* border: 5px solid red; */
}

.keys {
    height: 80%;
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1vh;
}

.keys > * { /* Sélectionne tous les enfants de keys */
    /* border: 1px solid rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    transition: 0.5s;
}

.keys > *:hover {
    filter: brightness(120%);   /* Pour régler la luminosité */
}

.keys > *:active {
    filter: brightness(150%);   /* Pour régler la luminosité */
}

div[data-key = "AC"] {  /* Pour choisir une div */
    grid-column: 1/4;
}

div[data-key = "0"] {
    grid-column: 1/3;
}

.digit {
    background: #37474F;
}

.operator {
    background: #FF9100;
}

.clear {
    background: #90A4AE;
    color: #263238;
}